.rui-button {
  border: none;
  border-radius: var(--rui-radius);
  color: var(--rui-f-c);
  background: var(--rui-color-normal);
  &:disabled {
    background: var(--rui-color-normal-disabled);
  }

  &:hover {
    background: var(--rui-color-normal-hover);
  }

  &:active {
    background: var(--rui-color-normal-active);
  }
  &.rui {
    @each $type in primary, danger, info, success, warning{
      &-#{$type} {
        background: var(--rui-color-#{$type});
        border: 1px solid var(--rui-color-#{$type});
        color: var(--rui-f-c-diff);
        &:disabled {
          background: var(--rui-color-#{$type}-disabled) !important;
          border: 1px solid var(--rui-color-#{$type}-disabled);
        }
        &:hover {
          background: var(--rui-color-#{$type}-hover);
          
        }
        &:active {
          background: var(--rui-color-#{$type}-active);
        }

      }
    }
    &-plain {
        background: var(--rui-color-normal-plain);
        border:1px solid var(--rui-color-normal-active);

        &:disabled {
          background: var(--rui-color-normal-disabled);
        }
      
        &:hover {
          background: var(--rui-color-normal-hover);
          color: var(--rui-f-c);
        }
      
        &:active {
          background: var(--rui-color-normal-active);
        }
      @each $type in primary, danger, info, success, warning{
        &.rui-#{$type} {
          background: var(--rui-color-#{$type}-plain);
          border:1px solid var(--rui-color-#{$type});
          color: var(--rui-color-#{$type});
          &:disabled {
            background: var(--rui-color-#{$type}-disabled);
          }
          &:hover {
            background: var(--rui-color-#{$type}-hover);
            color: var(--rui-f-c-diff);
          }
          &:active {
            background: var(--rui-color-#{$type}-active);
          }
  
        }
      }
    }
    &-medium {
      --button-size:var(--rui-size-medium);
      height: var(--button-size);
      padding: 6px 10px;
      font-size: 14px;
    }

    &-small {
      --button-size:var(--rui-size-small);
      height: var(--button-size);
      padding: 4px 8px;
      font-size: 12px;
    }

    &-large {
      --button-size:var(--rui-size-large);
      height: var(--button-size);
      padding: 8px 12px;
    }

    &-xlarge{
      --button-size:var(--rui-size-xlarge);
      height: var(--button-size);
      padding: 14px 18px;
      font-size: 20px;
    }

    &-circle {
      height: var(--button-size);
      width: var(--button-size);
      aspect-ratio: 1/1;
      border-radius: 1000px;
    }
    &-sqaure {
      height: var(--button-size);
      width: var(--button-size);
      aspect-ratio: 1/1;
    }
  }


}