@import url("/packages/style/color/index.less");
:root {
  --RUI-BG: #eee;
  --RUI-BG-danger: @Red4;
  --RUI-BG-default: @Neutral1;
  --RUI-BG-primary: @Blue4;
  --RUI-BG-warning: @Yellow4;
  --RUI-BG-success: @Green4;
  --RUI-BG-info: @Blue4;
  --RUI-F-C: @Neutral8;
  --RUI-F-C-1: @PureBlack;

}
:root {
  color: var(--RUI-F-C);
}
